<h1>Welcome to <%= current_user.email %>'s view</h1>
<center><h5>Larry Adames's Images</h5></center><br><br>
<p align="center">
  <%= image_tag('pancho.jpg', :width => "300px") %>
  <%= image_tag('surfsup.jpg', :width => "300px") %>
  <%= image_tag('touchdown.jpg', :width => "300px") %>
</p><br>